<div class="formulario ff-inter fw-normal fs-6 lh-base p-3 mb-3 rounded-3 bg-white" [ngClass]="getModeloClass()">
  <img src="/assets/{{ formulario.modelo }}.webp" alt="Aspas coloridas">
  <p class="text-break my-3 text-conteudo">{{ formulario.pensamentoTexto }}</p>
  <p class="text-break text-autor"><b>{{ formulario.autor }}</b></p>
  <div>
    <button class="botao-editar btn p-0">
      <img
        src="/assets/pencil-square.webp"
        routerLink="/editar-formulario/{{formulario.id}}"
        alt="Ícone de editar">
    </button>
    <button class="botao-excluir btn p-0 ms-2" (click)="excluirFormulario()">
      <img src="/assets/trash.webp" alt="Ícone de excluir">
    </button>
  </div>
</div>