.cabecalho {
    background: url('../../../../assets/fundo-cabecalho.png');
    background-size: cover;
}

.cabecalho p {
    color: #6BD1FF;
}

.cabecalho .logo img {
    max-width: 350px;
}

@media (max-width: 576px) {
    .cabecalho .logo img {
        max-width: 250px;
    }
}